<!--get layout from layout.html -->
{% extends 'layout.html' %}

{% block content %}

<div class="container mt-4">
    <h1 xmlns="http://www.w3.org/1999/html">This is sample form</h1>
    <form action="/sampleform" method="POST">
        <div class ="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="stone" name="janken" value=0 checked>
            <label class="form-check-label" for="stone">Stone</label>
        </div>
        <input type="radio" name="janken" value=1>Scissors</input>
        <input type="radio" name="janken" value=2>Paper</input>
        <button type="submit"> SEND</button>
    </form>
</div>

{% endblock %}